
.Main{
    width: 100%;
    height: 100vh;

}

.BottomBar-Col{
    margin-top: auto;

}

.Row-grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;

}